	<!-- /breadcrumbs -->
	{% extends 'headerfooter.html' %}
    {% block content %}
	<nav id="breadcrumbs" class="breadcrumbs">
		<div class="container page-wrapper">
			<a href="#">Home</a> » <span class="breadcrumb_last" aria-current="page">Services</span>
		</div>
	</nav>
	<!-- //breadcrumbs -->
	<!-- /services-grids-->
	<section class="w3l-content-with-photo-4">
		<!-- /content-grids-->
		<div class="content-photo-info py-5">
			<h6 class="sub-title" style="margin-left:50px; "><b> Services for you</b></h6>

			{% for x in details %}
			<div class="container py-lg-5">
				
				<div class="content-photo-grids row mt-0">
					
					<div class="photo-6-inf-left col-lg-6 pr-lg-4">
						<a href="#"><img src="{{x.image.url}}" width="640" height="426" class="img-fluid" alt=""></a>
					</div>
					<div class="photo-6-inf-right col-lg-6 text-left pl-lg-5 mt-lg-0 mt-4">
					<h3 class="hny-title"><a href="/single/?cid={{x.id}}">{{x.category}}</a></span>
					</h3>

					</div>
					
				</div>
				
			</div>
			{% endfor %}
 </div>
	</section>
	<section class="w3l-satisfied-main">
		<div class="satisfy-content py-5">
			<div class="container py-lg-5">
				<h6 class="sub-title">Satisfied Clients</h6>
				<h3 class="hny-title two"> We Providing A High Quality Services</h3>
				<p class="counter-sub-para">Lorem ipsum dolor sit amet consectetur adipisicing elit sunt in culpa qui
					officia sed deserunt mollit anim id est laborum mollit anim id est nulla.</p>
				<!--start-divice-scree-slider-->
				<div class="skill_info mt-lg-5 mt-4">
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">165</p>
								<h3>Cleaning Staff</h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">563</p>
								<h3>Successful Projects</h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">645</p>
								<h3>Happy Customer</h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>
					<div class="stats_left">
						<div class="counter_grid">
							<div class="icon_info">
								<p class="counter">465</p>
								<h3>Carpets Cleaned</h3>
								<p class="counter-para">Lorem ipsum dolor sit amet consectetur adipisicing elit </p>
							</div>
						</div>
					</div>

				</div>

			</div></div>
	</section>
<script>
$(document).ready(function(){
$("#services").addClass("active");
});
</script>
	
	{% endblock %}