{% extends 'admin/headerfooter.html' %}
{% block content %}
<!-- //header-ends -->
							<!--//outer-wp-->
								<div class="outter-wp">
											<!--/sub-heard-part-->
											 <div class="sub-heard-part">
													   <ol class="breadcrumb m-b-0">
															<li><a href="/admin_index/">Home</a></li>
															<li class="active">Forms</li>
														</ol>
											</div>	
											<!--/sub-heard-part-->	
												<!--/forms-->
													<div class="forms-main">
														<h4 style="color:red;text-align:center;">{{error}}</h4>	
														<h2 class="inner-tittle">Basic Form </h2>
															<div class="graph-form">
																	<div class="form-body">
																		{% for x in details %}
																		<form action="/admin_cupdate/?uid={{x.id}}" method="POST" enctype="multipart/form-data">
																			{% csrf_token %} 
																	 <div class="form-group"> <label for="exampleInputPassword1">Category</label> <input type="text" name="category" class="form-control" id="exampleInputPassword1" placeholder="Category" value="{{x.category}}"> </div> 
																	  <div class="form-group"> 
																		 	<label for="exampleInputFile">File input</label> 
																		 	{% if x.image %}
																		 	<img src="{{x.image.url}}" width="200" height="200">
																		 	{% else %}
																		 	{% endif %} 
																		 	 </div>
																		 	 <div class="form-group">
																		 	 	<label for="exampleInputFile">Do you want to update image</label>
																		 	 	<div class="radio">
																		 	 		<label>
																		 	 			<input type="radio" name="imgup" value="Yes" onchange="hide();" id="chkYes" required>
																		 	 			Yes
																		 	 		</label>
																		 	 	</div>
																		 	 	<div class="radio">
      																			<label>
                                                                                <input type="radio" name="imgup" value="no" onchange="hide();" checked required>
																			      No
																			    </label>
																			    </div>
																			    <div class="form-group" id="fileimg" style="display: none;">
																			      <label for="img">File Input</label>
																			      <input type="file" name="images" id="img">
																			    </div>
																		 	 </div> 
																		  
																		 <div class="checkbox"> <label> <input type="checkbox"> Check me out </label> </div> <button type="submit" class="btn btn-default">Submit</button> 
																		</form> 
																		{% endfor %}
																	</div>

															</div>
																
																</div> 
														<!--//forms-->											   
												</div>
									<script type="text/javascript">
									   function hide(){
									       var chkYes = document.getElementById("chkYes");
									       var filediv = document.getElementById("fileimg");

									   filediv.style.display = chkYes.checked ? "block" : "none"
									   if (chkYes.checked){
									      var img = document.getElementById("img").required = true;
									   }
									   else{
									      var img = document.getElementById("img").required = false;
									   }
									   }
									 </script>
											<!--//outer-wp-->
									 <!--footer section start-->
									 {% endblock %}
										