{% extends 'admin/headerfooter.html' %}
{% block content %}
<style type="text/css">
	.top{
		margin-top: 20%
	}
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
   {% if success %}
  swal("{{success}}", "","success");
  {% elif error %}
  swal("{{error}}","", "error");
  {% endif %}
  </script>
						<div class="outter-wp">
							 <div class="v-middle caption" style="display: flex; justify-content: center;">
							 	<h1>CRYSTAL SHINE CLEANING</h1>
							 </div>
												<div class="custom-widgets">
												   <div class="row-one top" style="display: flex; justify-content: center;">
														<div class="col-md-3 widget">
															<div class="stats-left ">
																<h5><a href="/admin_forms/">Form
																</a></h5>
																<h4>Service<br>Form</h4>
															</div>
															
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-3 widget states-mdl">
															<div class="stats-left">
																<h5><a href="/admin_cform/">Form</a></h5>
																<h4>Category Form</h4>
															</div>
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-3 widget states-thrd">
															<div class="stats-left">
																<h5><a href="/admin_gallery/">Form</a></h5>
																<h4>Gallery<br>Form</h4>
															</div>
															<div class="clearfix"> </div>	
														</div>
														<div class="col-md-3 widget states-last">
															<div class="stats-left">
																<h5><a href="/admin_tform/">Form</a></h5>
																<h4>Members Form</h4>
															</div>
															<div class="clearfix"> </div>	
														</div>
														<div class="clearfix"> </div>	
													</div>
												</div>
									</div>
									
									{% endblock %}
									